APP_NAME=Swishtag
MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=your-mailbox@yourdomain.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=your-mailbox@yourdomain.com
MAIL_FROM_NAME="${APP_NAME}"
MAIL_TO=hello@swishtag.com
